[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = "*"
scrapy = "<2.10.0"
scrapy-sentry = "*"
city-scrapers-core = {ref = "main", git = "https://github.com/City-Bureau/city-scrapers-core.git", extras=["azure"]}
pypiwin32 = {version = "*",markers = "sys_platform == 'win32'"}
scrapy-wayback-middleware = "*"
python-dateutil = "*"

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "*"
