[tool.black]
line-length = 88
target-version = ['py312']
exclude = '''
/(
    \.git
  | \.pytest_cache
  | \.venv
  | __pycache__
  | build
  | docs
  | coverage
  | tests/files
)/
'''

[tool.isort]
profile = "black"
line_length = 88
